@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Lacquer&family=Lora&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.container{
    /* border: 2px solid red; */
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transition: all 1s;
}
.container h2{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0px;
}
.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
.box i{
    width: 25px;
    text-align: center;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 7px 17px;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    font-weight: bold;
    transition: all 1s;
    /* display: flex;
    position: relative;
    animation-name: Aarry;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}
@keyframes Aarry{
    /* 0%{
        top: 0px;
        left: 0px;
    }
    100%{
        top: 360px;
        left: 525px;
    } */

    0%{
        top: 0px;
        left: 0px;
        display: none;
    }
    50%{
        top: 360px;
        left: 0px;
    }
    100%{
        top: 360px;
        left: 525px;

    }
}
/* .btn span.poyon{
    display: none;
} */
.btn:hover
{
    opacity: 0.5;
    color: purple;
    background: white;
    transition: all 1s;
    /* margin-left: 55px; */
}
/* .btn:hover span.poyon{
    display: block;
}
.btn:hover span.log{
    display: none;
} */